   @import url('https://fonts.cdnfonts.com/css/miama');

   
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
   

body {
    margin: 0;
    padding: 0;
    font-family:"Open Sans","sans-serif" ;
    background-color: #181818;
    color: #fff;
}
.header{
    max-width: 100%;
    padding: 2.5rem 0;
    background-color: #181818;



}


.navbar {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #181818;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #FF6347;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.nav-links a.active {
    background-color: #FF6347;
    color: #fff;
}

.nav-links a:hover {
    background-color: #FF6347;
    color: #fff;
}


.hero {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #181818;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.hero-content h1 span {
    font-family: 'Miama', sans-serif;
    font-size: 70px;

}

.hero-content p {
    font-size: 14px;
    color: #aaaaaa;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cta-buttons {
    margin-top: 30px;
}

.cta-buttons a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.btn-primary {
    background-color: #FF6347;
}

.btn-primary:hover {
    background-color: #e5533e;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #fff;
}

.btn-secondary:hover {
    background-color: #fff;
    color: #181818;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 400px;
    border-radius: 10px;
}

 .text-content .image-tag-2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.hero-image .image-tag-1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.image-descrip-1{
    font-size: 15px;
    opacity: 0.6;
}

.image-descrip-2{
    font-size: 15px;
    opacity: 0.6;
}

.badge {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.badge-1 {
    background-color: rgba(70, 68, 68, 0.6);
    top: 80px;
    right: 0px;
}

.badge-2 {
    display: flex;
    align-items: center;
    background-color: rgba(70, 68, 68, 0.6);
    bottom: 10px;
    left: 10px;
}
.circle {
    width: 30px;
    height: 30px;
    background-color: #FF5733;
    border-radius: 50%;
    margin-right: 15px;
}
.text-content{
    text-align: left;
}



/* Change Your Habit Style */

.container {
    text-align: center;
    padding: 50px 20px;
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
p.subtitle {
    color: #aaa;
    margin-bottom: 40px;
    font-size: 16px;
}
.items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.item {
    width: 200px;
    text-align: center;
}
.item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.item p {
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
    font-size: 14px;
    margin: 0;
    opacity: 0.7;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

.ad-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin: 50px auto;
}

.text-content {
    color: white;
    max-width: 50%;
}

.text-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 15px;
    margin-bottom: 20px;
    opacity: 0.4;
}

.join-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

.image-content img {
    max-width: 300px;
    border-radius: 10px;
}


/* Why choose Uss */
.choose{
    width: 100%;
    /* max-height: 600px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7rem;
    gap: 4rem;
}

.chooseContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}

.chooseContent h3{
    font-family: inter;
    font-weight: 900;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 0;
}

.chooseContent p{
    font-size: 15px;
    opacity: 0.4;
}

.gridContainer{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #222222;
    border-radius: 20px;
    gap: 2rem;
    margin-top: 0;
}

.chooseImg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.gridDiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 30px;
    text-align: left;
}
.gridDiv2{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}
.gridDiv2 h3{
    font-family: inter;
    font-weight: 900;
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;

}
.gridDiv2 p{
    width: 100%;
    font-size: 15px;
    opacity: 0.4;
}
.gridDiv3{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.formContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.formContent h2{
    margin-bottom: 0;
    font-weight: bolder;
}
.formContent p{
    margin-top: 0;
  font-size: 14px;
  opacity: 0.4;
}

.formContent button{
    width: 40%;
}
.btn-primary{
    font-family: inter;
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(230, 83, 60);
    padding: 1rem 2.2rem;
    border-radius: 2.5rem;
    border: none;
}
.btn-primary:hover{
    cursor: pointer;
}

.formContent input,select{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #333333;
    color: rgba(255, 255, 255,0.3);
    font-family: inter;
    font-size: 1rem;
    font-weight: 400;
}
.formDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    
}

.innerDiv1{
    display: flex;
    gap: 20px;
}
.innerDiv2{
    display: flex;
    gap: 20px;
}
#input1,#input2,#input3,#input4{
    width: 50%;
}
#input5{
    width: 100%;
}

.bmi-cal{
    text-align: center;
}
.bmi-descrip{
    font-size:14px ;
    opacity: 0.4;
}


.bmi-container {
    display: flex;
    justify-content: space-between;
    background-color: #1b1b1b;
    padding: 30px;
    border-radius: 15px;
    max-width: 1000px;
    margin: 50px auto;
    color: white;
}

.bmi-chart, .bmi-calculator {
    width: 45%;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}

.bmi-chart table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.bmi-chart table th,
.bmi-chart table td {
    border: 1px solid #333;
    padding: 10px;
    font-size: 15px;
    text-align: left;
    /* opacity: 0.4; */
}

.bmi-chart table th {
    background-color: #333;
}

.bmi-chart table td {
    opacity: 0.4;
    /* background-color: #2a2a2a; */
}
.ourTeam{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    gap: 3.5rem;
}

.teamContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.teamContent p{
    font-size: 15px;
    opacity: 0.4;
    margin-top: 0;
}

.teamContent h3{
    font-family: inter;
    font-weight: 900;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 0;
}
.teamCardContainer{
    width: 75%;
    display: grid;
    background-color: #222222;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 20px;
    border-radius: 20px;
}
.teamCard{
    width: 100%;
    height: 100%;
    position: relative;
}

.teamCard img{
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(90%);
}

.teamCard h4{
    position: absolute;
    top: 80%;
    left: 10%;
    color: #ffffff;
    font-family: inter;
    font-weight: 900;
    font-size: 1.2rem;
}

.teamCard p{
    position: absolute;
    top: 90%;
    left: 10%;
    font-family: inter;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    opacity: 0.7;
}


/* footer styles */

.footerClass{
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    background-color: #262525;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footerContainer{
    width: 75%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerDiv{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: left;
    padding: 20px;
}
.footerDiv p{
    font-size: 14px;
    opacity: 0.4;
}


.titleBottom{
    font-family: inter;
    font-weight: 900;
    font-size: 4.5rem;
    color:rgb(230, 83, 60);
}

.footerDiv1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
}
.footerDiv1 p{
    font-size: 18px;
    opacity: 0.5;
}

.footerDiv2{
    width: 75%;
    /* background-color: #262525; */
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-align: center;
}
.footerDiv2 p{
    opacity: 0.5;
    font-size: 20px;
    font-weight: 500;
}

.footerDiv2 hr{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}




/* media query */
@media screen and (max-width: 576px) {
    .nav-links{
        display: none;
    }
    .navbar{
        width: 90%;
        margin-bottom: 50px;
    }
    .cta-buttons{
        display: flex;
    }
    .header{
        max-height: 1225px;
        background: linear-gradient(-180deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.1) 100%);
        padding-bottom: 0;
    }
    .hero{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;

    }
    .hero-content{
        width: 90%;
    }
    .hero-image img{
        width: 80%;

    }
    .btn-primary{
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
    }
    .btn-secondary{
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
    }
    .badge-1{
        top: 100px;
        right: 10px;
        width: 150px;
        height: 78px;
    }
    .badge-2{
        bottom: 50px;
        left: 20px;
        width: 150px;
        height: 78px;
    }
    .chooseContent{
        width: 90%;
    }
    .chartContent p{
        width: 80%;
    }
    .gridContainer{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        margin-bottom:50px;
        gap: 0.5rem;
    }
    .habit{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .container{
        width: 100%;
    }
    .items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem; 
    }
    .run{
        flex-direction: column;
        width: 90%;
    }
    .text-content{
        width: 100%;
    }
    .text-content h1{
        font-size: 2rem;
        width: 100%;
    }
    .text-content p{
        width: 100%;
    }
    .text-content .join-btn{
        width: 100%;
    }
    .image-content{
        width: 100%;
    }
    .bmi-index{
        flex-direction: column;
        gap: 1.5rem;
        
    }
    .bmi-cal{
        width: 100%;
        padding: 20px;
    }
    .bmi-container{
        height: 850px;
        flex-direction: column;
        gap: 2rem;
    }
    .bmi-chart{
        width: 100%;
        padding: 20px;
        align-items: left;
    }
    .tableDiv{
        
        display: flex;
        align-items: left;
    }
    .formContent{
        width: 100%;
        justify-content: center;
        padding: 20px;
    }
    .formDiv{
        width: 100%;
    }
    .formContent button{
        width: 60%;
        padding: 15px 20px;
    }
    .teamCardContainer{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
    }

    .teamCard{
        width: 100%;
        height: 272px;
    }
    .footerClass{
        height: 100%;
    }
    .footerContainer{
        width: 70%;
        flex-direction: column;
        gap: 2rem;
        align-items: left;
    }
    .footerDiv{
        width: 100%;
        justify-content: left;
        align-items: left;
    }
    .footerDiv1{
        width: 100%;
        justify-content: left;
        align-items: left;
    }


}